<br><br><br><br><br>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

<section class="cajaEventos">
    <div class="my-3 py-5 text-center">
        <div class="row mb-5">
            <div class="col">
                <div class="icon">
                    <i class="fas fa-plus-circle fa-5x" (click)="see()" ></i>
                </div>
                <h1 class="titulo1">Eventos</h1>
                
              </div>
              
              <div class="row ">
                <div class="col-lg-3 col-md-6" *ngFor="let event of event">
                    <div class="card tarjeta">
                        <h1 class="titulo">{{event.name}}</h1>
                        <div class="card-body">
                            <img  src="{{event.imagen}}" class="d-block w-100">
                        </div>

                        <div class="row">
                            <div class="col-lg-5">
                                <button type="button" class="btn btn-danger" (click)= "Delete(event)">Eliminar</button>
                            </div>
                        </div>
                        
                    </div>
                </div>

              </div>
        </div>
    </div>   

</section>
