
.mat-dialog-content{
    background-color: blueviolet;

}
.container-img:hover{
    	
    transition:all .5s ease-in-out;
    filter: sepia(60%);
    -webkit-transform:scale(1.1);transform:scale(1.1);

}

.parrafo{
    text-align: justify;
    white-space: pre-line;
    width: 300px;
    font-family:'Times New Roman', Times, serif;
    padding-top:10px ;
}
h1{
    
    text-align: center;
    color: #fd5308;
    font-weight: normal;
    font-size: 40px;
    font-family: Arial;
    text-transform: uppercase;
}
.icon i{
    
    float: right;
    cursor: pointer;
    float: right;
    top:-24px;
   right:-24px;
}
.cuadro{
    padding: 0;
    margin: 0;
}
.icon i{
        transition: 1s ease-in-out;

}
.icon i:hover{
    color: red;
    transform: rotate(180deg);
}