<div class="icon">
  <i class="fas fa-times" (click)="close()"></i>
</div>
<form class=""> 
    <div class="mb-3">
      <label  class="form-label">Nombre del Evento:</label>
      <input  [(ngModel)]="evento.name"   class="form-control">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Example textarea:</label>
        <textarea  [(ngModel)]="evento.description"  class="form-control" id="exampleFormControlTextarea1" rows="10" cols="70"></textarea>
    </div>

    <button type="submit" class="btn btn-primary" (click)="CrearEvento()">Submit</button>
  </form>
